# API Credential
credentials.json

# Letterboxd login information
login_details.yml

# Cookies
imdb_cookies.pkl
rotten_tomatoes_cookies.pkl

# Experimental Code
script.py
script.cpython-310.pyc